<mat-sidenav-container class="sidenav-container ">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" position="end"
               [mode]="'over'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class=" active" routerLink="game">{{'GamePage' | translate}}</a>
      <a mat-list-item class=" disabled" routerLink="server">{{'ServerPage' | translate}}</a>
      <a mat-list-item class=" disabled" routerLink="web">{{'WebPage' | translate}}</a>
      <a mat-list-item class=" disabled" routerLink="log-in">{{'Log-in' | translate}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >

    <div class="bg-dark upper-nav ">
      <span class="lang form-inline px-3 ">
  <mat-slide-toggle class=" bg-dark text-light" [(ngModel)]="isChecked"
                    (change)="switchLang($event)">{{lang}}</mat-slide-toggle>
      </span>
    </div>
    <mat-toolbar class="shadowBox  bg-dark text-white ">
      <div class="bg-dark form-inline ">
        <a class="navbar-brand " href="#"> <img src="/assets/icons/logo7.png" id="logo"
                                                class="d-inline-block align-bottom" alt="">
        </a>
      </div>
      <span class="spacer"></span>
      <div class="main-bar ">
        <a mat-list-item class=" active" routerLink="game">{{'GamePage' | translate}}</a>
        <a mat-list-item class=" disabled" routerLink="server">{{'ServerPage' | translate}}</a>
        <a mat-list-item class=" disabled" routerLink="web">{{'WebPage' | translate}}</a>
        <a mat-list-item class=" disabled" routerLink="log-in">{{'Log-in' | translate}}</a>
      </div>
      <button class="hamburgerButton " type="button" aria-label="Toggle sidenav"
              mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
