<mat-sidenav-container class="sidenav-container background_black">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" position="end"
               [mode]="'over'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class=" active" routerLink="">{{'HomePage' | translate}}</a>
      <a mat-list-item class=" active" routerLink="game">{{'GamePage' | translate}}</a>
      <a mat-list-item class=" pointer active" *ngIf="!isLoggedIn" (click)="login()">{{'Log-in' | translate}}</a>
      <ng-container *ngIf="isLoggedIn">
        <a mat-list-item class=" pointer active" (click)="logout()">{{'Log-out' | translate}}</a>
        <a mat-list-item class=" pointer active" (click)="account()">{{'Account' | translate}}</a>
        <a mat-list-item class="pointer  active" *ngIf="isAdmin" (click)="game_panel()">Game settings</a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <div class=" upper-nav ">
      <span class="lang form-inline px-3 ">
  <mat-slide-toggle class="  text-light" [(ngModel)]="isChecked"
                    (change)="switchLang($event)">{{lang}}
  </mat-slide-toggle>
      </span>
    </div>
    <mat-toolbar class="shadowBox  background_black text-white ">
      <ng-container class=" navbar-container ">
        <a class="navbar-brand " href=""> <img src="/assets/icons/logo7.png" id="logo"
                                               class="d-inline-block align-bottom" alt="">
        </a>
      </ng-container>
      <span class="spacer"></span>
      <div class="main-bar ">
        <a mat-list-item class="active" routerLink="">{{'HomePage' | translate}}</a>
        <a mat-list-item class="active" routerLink="game">{{'GamePage' | translate}}</a>
        <a mat-list-item class="pointer active" *ngIf="!isLoggedIn" (click)="login()">{{'Log-in' | translate}}</a>
        <ng-container *ngIf="isLoggedIn">
          <a mat-list-item class="pointer  active" (click)="logout()" routerLink="">{{'Log-out' | translate}}</a>
          <a mat-list-item class="pointer  active" (click)="account()">{{'Account' | translate}}</a>
          <a mat-list-item class="pointer  active" (click)="game_panel()">Game settings</a>
        </ng-container>

      </div>
      <button class="hamburgerButton " type="button" aria-label="Toggle sidenav"
              mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
