<div class="container-fluid ">

  <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
    <mat-tab label="Windows">

      <mat-card class="card_full">
        <br>
        <h3>{{'Ins_text_1'| translate}}{{'Ins_text_2'| translate}}</h3>
        <br>
        <mat-card-content class="content ">
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h3><b> {{'Ins_header_2_bundled_jre' |translate}}</b></h3>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul><b>{{'Ins_text2_1' | translate}}</b>
                <br><br>
                <li> {{'Ins_text2_2' | translate}}</li>
                <li> {{'Ins_text2_3' | translate}}</li>
                <li> {{'Ins_text2_4' | translate}}</li>
              </ul>
              <div class="row">
                <button mat-raised-button class="mat-primary m-3 btn-sm "
                        (click)="downloadResource('heroes_battle_windows.zip')">{{'Ins_text_download' | translate}}
                </button>
                <h3 class="mx-3 text-danger my-3">{{'Size' | translate}} 280 MB</h3>
              </div>
              <mat-progress-bar class="my-4" *ngIf="download$ | async as download"
                                [mode]="download.state == 'PENDING' ? 'buffer' : 'determinate'"
                                [value]="download.progress">
              </mat-progress-bar>

            </mat-expansion-panel>
          </mat-accordion>

        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Linux">

      <mat-card class="card_full">
        <br>
        <h3>{{'Ins_text_1'| translate}}</h3>
        <br>
        <mat-card-content class="content ">
          <mat-accordion>
            <mat-expansion-panel hideToggle class="expansion ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h3 class="longtext"><b>{{'Ins_header_1' | translate}}</b></h3>
                </mat-panel-title>
                <mat-panel-description>
                  <h3 class="longtext"> {{'Ins_description_1' |translate}}</h3>
                </mat-panel-description>
              </mat-expansion-panel-header>


              <b> {{'Ins_title_1'| translate}}  </b><br> <br>

              {{'Ins_link'| translate}}  <a href="https://jdk.java.net/java-se-ri/11">{{'Ins_link2'| translate}} </a>
              <br> <br>

              <h3>{{'Ins_linux_text1' | translate}} <br><br>

                {{'Ins_linux_text2' | translate}}
                <b>{{'Ins_linux_text3' | translate}}</b> {{'Ins_linux_text4' | translate}}<br>
                {{'Ins_linux_text5' | translate}} <br> <br>
                {{'Ins_linux_text2' | translate}}
                <b>{{'Ins_linux_text6' | translate}}</b> {{'Ins_linux_text7' | translate}}<br>
                {{'Ins_linux_text8' | translate}}<br><br>
                {{'Ins_linux_text9' | translate}} <br>
                {{'Ins_linux_text10' | translate}}<br>
                {{'Ins_linux_text11' | translate}}<br><br>
                {{'Ins_linux_text12' | translate}}</h3>
              <h3 class="text-danger"><b> {{"Ins_text_22" | translate}}</b></h3><br>
              <h3><a
                href="https://www.ibm.com/support/knowledgecenter/SS3JSW_5.2.0/com.ibm.help.gdha_installing.doc/com.ibm.help.gdha_installing.doc/gdha_setting_java_variable_linux.html">
                {{'Ins_text_23' | translate}}</a></h3>


            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h3><b> {{'Ins_header_2' | translate}}</b></h3>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul><b>{{'Ins_text2_1' | translate}}</b>
                <br><br>
                <li> {{'Ins_text2_2A' | translate}}</li>
                <li> {{'Ins_text2_3' | translate}}</li>
                <li> {{'Ins_text2_4' | translate}}</li>
              </ul>
              <div class="row">

                <button mat-raised-button class="mat-primary m-3 btn-sm "
                        (click)="downloadResource('heroes_battle_linux.zip')">
                  {{'Ins_text_download' | translate}}
                </button>
                <h3 class="mx-3 text-danger my-3">{{'Size' | translate}} 64.6 MB</h3>
              </div>
              <mat-progress-bar class="my-4" *ngIf="download$ | async as download"
                                [mode]="download.state == 'PENDING' ? 'buffer' : 'determinate'"
                                [value]="download.progress">
              </mat-progress-bar>
            </mat-expansion-panel>
          </mat-accordion>

        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
