<div class="container-fluid py-1  px-0 m-0  " id="firstPage" [style.background-image]="bubbles9">
  <div>
    <table class="table table-borderless">
      <br> <br>
      <tr>
        <td class="td0"></td>
        <td  class="td1"><img class="lwjgl" src="{{'/assets/img/lwjgl.png'}}" alt="lwjgl"></td>
        <td  class="td1"><img class="java " src="{{'/assets/img/java.png'}}" alt="java"></td>
        <td class="td2">
          <img class="lwjgl" src="{{'/assets/img/lwjgl.png'}}" alt="lwjgl">
          <img class="java below" src="{{'/assets/img/java.png'}}" alt="java"></td>
        <td class="td3"></td>
        <td class="td4">
          <h1 class="sub-text justify">{{'Game1' | translate}} <b>Heroes Battle</b>{{'Game2' | translate}} <b>Java</b> {{'Game3' | translate}} <b>WebSocket</b>
            {{'Game4' | translate}} <a href="https://www.lwjgl.org/"><b>LightWeight Java Game Library (LWJGL)</b></a>{{'Game5' | translate}}</h1>
        </td>
        <td class="td0">
        </td>
      </tr>
      <br><br>
      <tr>
        <td class="td0"></td>
        <td class="td1"><img class="spring" src="{{'/assets/img/spring.png'}}" alt="spring"></td>
        <td class="td1"><img class="keycloak" src="{{'/assets/img/keycloak.png'}}" alt="keycloak"></td>
        <td  class="td2 ">
          <img class="spring" src="{{'/assets/img/spring.png'}}" alt="spring">
          <img class="keycloak below"  src="{{'/assets/img/keycloak.png'}}" alt="keycloak"></td>
        <td class="td3"></td>
        <td class="td4">
          <h1 class="sub-text justify">{{'Game6' | translate}}
            <b>Spring</b>{{'Game7' | translate}}
            <b>WebSocket</b>{{'Game8' | translate}} <a href="https://www.keycloak.org/"><b>Key Cloak</b></a>.</h1>
        </td>
        <td class="td0"></td>
      </tr>
      <br><br>
      <tr>
        <td class="td0"></td>
        <td class="td1"><img class="angular" src="{{'/assets/img/angular.png'}}" alt="angular"></td>
        <td class="td1"><img class="gcp" src="{{'/assets/img/gcp.png'}}" alt="gcp"></td>
        <td class="td2">
          <img class="angular" src="{{'/assets/img/angular.png'}}" alt="angular">
          <img class="gcp below" src="{{'/assets/img/gcp.png'}}" alt="gcp"></td>
        <td class="td3"></td>
        <td class="td4">
          <h1 class="sub-text justify"> {{'Game9' | translate}} <b>Angular</b>.
            <br> {{'Game10' | translate}} <b>Google Cloud Platform</b>.
          </h1>
          <br>
          <button mat-raised-button color="warn" class="learnMoreButton" routerLink="/game-details">
            Dowiedz się więcej
          </button>
        </td>
        <td class="td0"></td>
      </tr>
    </table>
  </div>
</div>
