<div class="container-fluid py-1  px-0 m-0 background_black" id="start">
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile *ngFor="let tile of tiles; index as i"
                   [colspan]="tile.cols"
                   [rowspan]="tile.rows"
                   [style.background]="tile.color"
                   [style.background-image]="tile.bg"
                   [attr.id]="'tile_'+i"
                   [ngClass]="tile.class">
      <ng-container *ngIf="i==0">
        <img class="lwjgl" src="{{'/assets/img/lwjgl.png'}}" alt="lwjgl">
        <img class="java" src="{{'/assets/img/java.png'}}" alt="java">
         <mat-card class="dark-card" >

         </mat-card>
      </ng-container>
    </mat-grid-tile>
  </mat-grid-list>
</div>

