#firstPage {
  min-height: calc(100% - 90px);
  height: fit-content;
  width: 100%;
  overflow: visible;
}

.justify {
  text-align: justify;
  line-height: 1.6;
}

.h1 {
  font-size: 1.2vw;

}

a {
  color: #ada194
}

a:focus, a:hover {
  border-bottom: 1px solid;
}

.lwjgl {
  width: 80%;
  object-fit: cover;
  padding-top: 10%;
}

.java {
  width: 80%;
  object-fit: cover;
}

.angular {
  width: 50%;
  object-fit: cover;
}

.spring {
  width: 70%;
  object-fit: cover;
}

.gcp {
  width: 90%;
  object-fit: cover;
}

.keycloak {
  width: 95%;
  object-fit: cover;
}

.td0 {
  width: 5% !important;
}

.td1 {
  width: 15% !important;
}

.td2 {
  display: none;
}

.td3 {
  width: 3% !important;
}

.td4 {
  width: 57% !important;
}

.learnMoreButton {
  position: relative;
  left: 40%;
  line-height: 3;
  font-size: 1.2vw;
}

@media screen and (max-width: 900px) {
  .justify {
    text-align: justify;
    font-size: 2vw;
    line-height: 1.6;
  }

  .td2 {
    display: block;
    justify-content: center;
    text-align: center;
  }
  .td1 {
    display: none;
  }
  .below {
    padding-top: 10%;
  }
  .lwjgl {
    width: 60%;
    object-fit: cover;
    padding-top: 5%;
  }

  .java {
    width: 60%;
    object-fit: cover;
  }

  .angular {
    width: 40%;
    object-fit: cover;
  }

  .spring {
    width: 60%;
    object-fit: cover;
  }

  .gcp {
    width: 70%;
    object-fit: cover;
  }

  .keycloak {
    width: 75%;
    object-fit: cover;
  }
  .learnMoreButton {
    position: relative;
    left: 40%;
    line-height: 3;
    font-size: 2.0vw;
  }
  #firstPage {
    min-height: 100%;
  }
}

