html, body {
  height: 100%;
}

.shadowBox {
  background-color: #FFFFFF;
  -moz-box-shadow: inset 0 -5px 8px -6px rgba(143, 136, 143, 1);
  -webkit-box-shadow: inset 0 -5px 8px -6px rgba(143, 136, 143, 1);
  box-shadow: inset 0 -5px 8px -6px rgba(143, 136, 143, 1);
}

mat-sidenav-container {

}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

mat-toolbar a {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 0px 10px;
}

mat-toolbar {
  background-color: #FFFFFF;
  padding-top: 10px !important;
  padding-bottom: 0 !important;
  height: auto !important;
}

.spacer {
  flex: 1 1 auto;
}

@media (min-width: 1080px) {
  .hamburgerButton {
    display: none !important;
  }

}

@media (max-width: 1080px) {
  .main-bar {
    display: none !important;
  }

}

@media (max-width: 767px) {
  body {
    font-size: 2px;
  }
  #logo {
    width: 200px!important;
    height: 100%!important;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 1px;
  }
  #logo {
    width: 120px!important;
    height: 100%!important;
  }

  .sidenav {
    width: 100px!important;
  }
}
#logo {
  width: 120px;
  height: 100%;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 10px;
  }
}

